In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
df=pd.DataFrame({'x': range(1,11), 
                 'y1': np.random.randn(10), 
                 'y2': np.random.randn(10)+range(1,11), 
                 'y3': np.random.randn(10)+range(11,21), 
                 'y4': np.random.randn(10)+range(6,16),
                 'y5': np.random.randn(10)+range(4,14)+(0,0,0,0,0,0,0,-3,-8,-6),
                 'y6': np.random.randn(10)+range(2,12),
                 'y7': np.random.randn(10)+range(5,15),
                 'y8': np.random.randn(10)+range(4,14),
                 'y9': np.random.randn(10)+range(4,14),
                 'y10': np.random.randn(10)+range(2,12) })
df

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,y10
0,1,-0.979109,2.095246,10.484600,6.498890,4.773262,0.885196,4.492990,3.716238,3.920039,1.438373
1,2,-0.975782,0.927474,11.417697,6.786267,5.206176,3.879011,7.164172,5.115722,4.839774,1.698353
2,3,0.502311,2.568668,13.585216,7.250492,4.446034,6.676620,4.753555,6.148825,5.976085,3.654429
3,4,-1.140896,3.770619,14.152727,8.459331,6.996623,4.478241,7.926891,7.571687,5.296577,4.719081
4,5,-0.820730,4.997780,15.302875,11.148712,8.728122,7.712573,7.433551,7.331897,9.515360,6.779288
5,6,0.777255,6.888251,15.632575,11.807548,10.773627,8.552421,10.243034,7.127910,11.472788,7.566174
6,7,-0.036923,6.497731,15.811129,11.764485,9.031150,7.141476,11.356782,10.583750,9.218123,7.568837
7,8,1.317143,6.817836,18.049770,12.401999,8.450598,9.675051,10.916029,11.577396,12.022836,8.475673
8,9,-0.055182,8.561471,18.262839,11.525704,6.386251,8.317784,12.399353,11.694580,13.567737,9.008362
9,10,-0.350692,9.798728,19.711856,16.808714,7.458035,11.972710,14.375428,13.135607,12.469488,10.500635

In [5]:
# style
plt.style.use('seaborn-darkgrid')

In [6]:
# create a color palette
palette = plt.get_cmap('Set1')

In [11]:
# multiple line plot
num=0
for column in df.drop('x', axis=1):
num+=1
plt.plot(df['x'], df[column], marker='', color=palette(num), linewidth=1, alpha=0.9, label=column)

IndentationError: expected an indented block (<ipython-input-11-ee7fedef50aa>, line 4)